@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans:wght@600&family=Open+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(22, 22, 22);
    gap: 330px;
}

header img{
    height: 50px;
    margin-left: -100px;
}

header nav{
    display: flex;
    gap: 25px;
}

header nav a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: rgb(201, 201, 201);
    position: relative;
}

header nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.2px;
    bottom: -5px;
    left: 0;
    background-color: #7252fb;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.center {
    margin-top: -5px;
    position: absolute;
}

.btn {
    width: 90px;
    height: 27px;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(181, 181, 181);
    outline: none;
    transition: 1.2s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #cdff3c;
    stroke-dasharray: 400 450;
    stroke-dashoffset: 150;
    transition: 1.2s ease-in-out;
}

.btn:hover {
    transition: 1.1s ease-in-out;
    background: #7252fb;
}

.btn:hover svg {
    stroke-dashoffset: -480;
    }

.btn span {
    color: rgb(246, 246, 246);
    font-size: 13px;
    font-weight: 100;
}

.home{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    padding-top: 30px;
}

.home #user-dev{
    height: 500px;
    padding-bottom: 0px;
}

.text h2{
    color: rgb(228, 228, 228);
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    margin-top: 50px;
}

.text p{
    color: rgb(228, 228, 228);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-top: 15px;
}

.text button{
    background-image: linear-gradient(110deg, #623cf8 0, #507ae8 12.5%, #6976e3 25%, #7e71de 37.5%, #8f6cd8 50%, #9e67d1 62.5%, #ab61c9 75%, #b75cc0 87.5%, #c157b7 100%);
    color: white;
    margin-top: 30px;
    height: 45px;
	width: 290px;
    border: 0px;
	font: bold 14px arial,sans-serif;
	text-shadow: none;
}

.text button:hover{
    transition: 0.5s ease-in-out;
    background: #ffffff;
    color: #7252fb;
}


.diferenciais{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.diferenciais img{
    height: 40px;
    margin-top: 15px;
}

.diferenciais p{
    margin-right: 30px;
    margin-left: 7px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(198, 198, 198);
}

#seta-center{
    height: 60px;
    position: absolute;
    margin-top: -27px;
}

.explic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 530px;
    gap: 130px;
}

.explic .text img{
    height: 60px;
}

.explic .text h2{
    color: rgb(33, 33, 33);
    margin-top: -15px;
}

#text-roxo{
    color: #623fff;
    margin-top: 0px;
}

.container-info{
    border: 1px solid rgb(53, 53, 53); 
    padding: 35px;
    border-radius: 10px;
}

.container-info button{
    background-image: linear-gradient(110deg, #623cf8 0, #507ae8 12.5%, #6976e3 25%, #7e71de 37.5%, #8f6cd8 50%, #9e67d1 62.5%, #ab61c9 75%, #b75cc0 87.5%, #c157b7 100%);
    color: white;
    margin-top: 30px;
    height: 45px;
	width: 260px;
    border: 0px;
	font: bold 14px arial,sans-serif;
	text-shadow: none;
}

.container-info button:hover{
    transition: 1s ease-in-out;
    background: #ffffff;
    color: #7252fb;
    border: #7252fb 1px solid;
}

.container-info p{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}   

.serviços{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding-bottom: 70px;
}

.serviços hr{
    width: 120px;
    color: rgb(33, 33, 33);
    border-radius: 5px;
    border: solid 1.5px;
    background-color: rgb(33, 33, 33); 
    margin-bottom: 15px;
}

.serviços .text{
    display: flex;
    flex-direction: row;
}

.serviços .text h2{
    margin-top: 0px;
    margin-left: 7px;
    color: rgb(33, 33, 33);
}

.inst{
    gap: 50px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.box{
    flex-direction: column;
    background-color: rgb(11, 11, 11);
    height: 180px;
    border-radius: 5px;
    width: 170px;
}

.box p{
    color: rgb(201, 201, 201);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 0px;
}

.box img{
    height: 40px;
    position: relative;
    top: -20px;
}

.serviços button{
    background-image: linear-gradient(110deg, #623cf8 0, #507ae8 12.5%, #6976e3 25%, #7e71de 37.5%, #8f6cd8 50%, #9e67d1 62.5%, #ab61c9 75%, #b75cc0 87.5%, #c157b7 100%);
    color: white;
    margin-top: 50px;
    height: 40px;
	width: 210px;
    border: 0px;
	font: bold 12px arial,sans-serif;
	text-shadow: none;
}

.serviços button:hover{
    transition: 1s ease-in-out;
    background: #ffffff;
    color: #7252fb;
    border: #7252fb 1px solid;
}

.metodo-trab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(22, 22, 22);
    padding-top: 70px;
    padding-bottom: 100px;
}

.metodo-trab img{
    width: 300px;
    margin-left: 70px;
    margin-right: 70px;
}

.metodo-trab .passo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.metodo-trab .passo img{
    width: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.metodo-trab .passo p{
    color: white;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5px;
}

.nosso-met {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 22, 22);
}

.nosso-met hr{
    width: 140px;
    border-radius: 5px;
    border: 0;
    height: 3px;
    background-image: linear-gradient(110deg, #623cf8 0, #507ae8 12.5%, #6976e3 25%, #7e71de 37.5%, #8f6cd8 50%, #9e67d1 62.5%, #ab61c9 75%, #b75cc0 87.5%, #c157b7 100%);
    margin-bottom: 25px;
    margin-top: 80px;
}

.nosso-met h2{
    color: rgb(228, 228, 228);
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
}

.blurs{
    padding-bottom: 100px;
    background-color: rgb(22, 22, 22);
}

#blur{
    float: right;
    height: 400px;
    opacity: 0.4;
    margin-top: -15%;
}

#blur2{
    float: right;
    height: 450px;
    margin-top: -300px;
    opacity: 0.4;
}

.nossos-trabalhos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 22, 22);
    padding-top: 100px;
    padding-bottom: 100px;
}

.area-de-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-de-texto hr{
    width: 100px;
    border-radius: 5px;
    border: 0;
    height: 3px;
    background-image: linear-gradient(110deg, #623cf8 0, #507ae8 12.5%, #6976e3 25%, #7e71de 37.5%, #8f6cd8 50%, #9e67d1 62.5%, #ab61c9 75%, #b75cc0 87.5%, #c157b7 100%);
    margin-bottom: 12px;
}

.area-de-texto h2{
    color: rgb(228, 228, 228);
    font-family: 'Noto Sans', sans-serif;
    font-size: 27px;
}

.area-de-texto p{
    color: rgb(201, 201, 201);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-top: 5px;
}

.nossos-trabalhos .empresa h2{ 
    margin-left: -385px;
    color: rgb(228, 228, 228);
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.amostra{
    display: flex;
    gap: 14px;
}

.amostra img{
    height: 180px;
}

.sobre-getup{
    display: flex;
    flex-direction: row;
    background-color: #7252fb;
    justify-content: center;
    gap: 120px;
    padding-bottom: 100px;
}

.sobre-getup img{
    height: 300px;
    padding-top: 90px
}

.sobre-getup .texto{
    margin-top: 120px;
}

.sobre-getup p{
    color: rgb(228, 228, 228);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.sobre-getup h2{
    color: rgb(228, 228, 228);
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}